<footer class="footer">
    <div class="container py-4">
        <div class="contact-info text-white py-5">
            <div class="row text-center justify-content-evenly">
                <!-- location -->
                <div class="col col-12 col-md-4 mb-4">
                    <div class="item">
                        <h2>LOCATION</h2>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <!-- websites -->
                <div class="col col-12 col-md-4 mb-4">
                    <div class="item">
                        <h2>AROUND THE WEB</h2>
                        <ul class="d-flex gap-2 justify-content-center ps-0">
                            <li class=" border-1 border rounded-circle fa-brands fa-facebook"></li>
                            <li class=" border-1 border rounded-circle fa-brands fa-twitter"></li>
                            <li class=" border-1 border rounded-circle fa-brands fa-linkedin-in"></li>
                            <li class=" border-1 border rounded-circle fa-solid fa-globe"></li>
                        </ul>
                    </div>
                </div>
                <!-- freelancer -->
                <div class="col col-12 col-md-4">
                    <div class="item">
                        <h2>ABOUT FREELANCER</h2>
                        <p class="px-5 mx-3 mx-md-0 px-md-0">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-white py-4 d-flex justify-content-center">
        Copyright © Your Website 2021
    </div>
</footer>
