<section class="about">
    <div class="container h-100 my-4">
        <div class="content d-flex justify-content-center align-items-center flex-column text-white h-100 ">
            <div class="title text-center">
                <h1 class="fw-bold">ABOUT COMPONENT</h1>
                <app-star></app-star>
            </div>
            <div class="desc d-flex flex-column flex-md-row px-5 gap-2 align-items-center mt-3">
                <p class="px-md-3">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
                <p class="px-md-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</section>