<nav class="navbar navbar-expand-lg bg-body-tertiary py-4 text-white fixed-top">
    <div class="container">
      <a class="navbar-brand text-uppercase fs-2 text-white" routerLink="">start framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0 mt-2" id="navbarNav">
        <ul class="navbar-nav gap-3 ">
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold text-white" routerLink="about" routerLinkActive = "p-2 active-style rounded-3">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold text-white" routerLink="portfolio" routerLinkActive = "p-2 active-style rounded-3">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold text-white" routerLink="contact" routerLinkActive = "p-2 active-style rounded-3">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>